
body {
    background-image:url(livre.jpg);
    background-size: cover;
    
}


.books-container{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    width:100%;

}
img{
width: 200px;
height: 200px;

}

.deletebutton{
    text-decoration: none;
    width: 80px;
    height: 20px;
    background-color: black ;
}



